body {
    background-color: #161921;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0%;
}

span {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

h3 {
    color: #f2ffe3;
    font-size: 2em;
}

h2 {
    font-size: 3em;
    color: #161921;
    background-color: #ffc636;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

p {
    font-size: 1.2em;
    color: #f2ffe3;
}

ul {
    font-size: 1.3em;
    color: #f2ffe3;
}

a {
    color: #f2ffe3;
    transition: font-size 0.2s;
}

a:hover {
   color: #ffc636;
   visibility: visible;
   font-size: 110%;
}



.lander {
    color: #161921;
    background-color: #ffc636;
    width: 100%;
    height: 100vh;
}

.lander-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.lander-title {
    margin: 0;
    font-size: 7em;
}

.lander-arrow {
    color: #161921;
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.black-marked {
    color: #f2ffe3;
    background-color: #161921;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 60%;
}



.content {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.icon {
    margin: 0;
    display: flex;
    justify-content: center;
}

.about-wrapper {
    display: flex;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background: url("../images/profile.png");
    transition: all 0.2s ease-in-out;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}


.profile-img:hover {
    background: url("../images/profileMouseOver.png");
}


.external-links {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

.external-links a {
    margin: 20px;
}



.grid {
    padding-top: 5%;
    margin: 0 auto;
}

.grid-item {
    background: #1f2d3d;
    padding: 10px;
    width: 300px;
    float: right;
    margin-bottom: 15px;
}

.grid-img {
    height: 60%;
    width: 60%;
    margin-right: 20%;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #ffc636;
}



.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.cell {
    margin: 10px;
    background: linear-gradient(to top, #1f2d3d 50%, rgba(0,0,0,0));
    flex: 1 300px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px;
}

.cell ul {
    font-size: 1.3em;
    padding-left: 9%;
}

.cell h2 {
    font-size: 2em;
    color: #f2ffe3;
    background-color: transparent;
    margin-bottom: 0;
}

.cell:nth-of-type(2) {
    background: rgba(0,0,0,0);
}

.blurb {
    padding: 20px;
}



@media only screen and (max-width: 1400px) {
    .content {
        padding-left: 5%;
        padding-right: 5%;
    }

    .profile-img {
        width: 175px;
        height: 175px;
    }

    .cell:nth-of-type(2) {
        background: linear-gradient(to top, #1f2d3d 50%, rgba(0,0,0,0));
    }

    .external-links a {
        margin: 3px;
    }
}
